{
    "parser": "babel-eslint",
    "extends": ["airbnb", "airbnb/hooks"],
    "env": {
      "mocha": true
    },
    "rules": {
      "arrow-parens": "off",
      "comma-dangle": ["error", "only-multiline"],
      "eol-last": "off",
      "react/jsx-filename-extension": "off",
      "react/button-has-type": "off",
      "quotes": "error",
      "import/prefer-default-export": "off",
      "react/jsx-props-no-spreading": "off"
    }
  }