{
  "parser": "babel-eslint",
  "plugins": ["jest", "cypress", "prettier"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:cypress-dev/general",
    "plugin:cypress-dev/tests",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "cypress/globals": true,
    "jest/globals": true,
    "mocha": true
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": "off",
    "comma-dangle": ["error", "only-multiline"],
    "eol-last": "off",
    "react/jsx-filename-extension": "off",
    "react/button-has-type": "off",
    "quotes": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "padding-line-between-statements": "off",
    "spaced-comment": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}